.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 120px;
}
.mywork-title{
    position: relative;
}
.mywork-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
}
.mywork-title img{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}
.mywork-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}
.mywork-container img{
    box-sizing: border-box;
    width: 350px;
    height: 230px;
    margin: 20px auto;
    transition: .3s;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    
}
.mywork-container img:hover{
    transform: scale(1.10);
    border: 2px solid #ff00ff;
    border-radius: 10px;
    
    transition: .3s;
}
.mywork-showmore{
    display: flex;
    text-align: center;
    gap: 15px;
    border-radius: 50px;
    border: 2px solid white;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 80px;
    transition: .6s;
    cursor: pointer;
}
.mywork-showmore:hover{
    gap: 25px;
    transition: .6s;
}


/* Responsive */

@media (max-width:568px){
    .mywork-container{
        grid-template-columns: 1fr !important;
        gap: 30px;
    }
    .mywork-container img{
        padding: 5px;
        border: 1px solid #ff00ff;
        width: 100%;
        height: 100%;
    }
    .mywork-container img:hover{
        transform: scale(1) !important;
        border: 1px solid #ff00ff;
        transition: .3s;
        height: auto;
    }
}

@media (max-width:768px){
    .mywork{
        gap: 50px;
        margin: 50px 70px;
        align-items: start;
    }
    .mywork-title h1{
        padding: 0;
        font-size: 35px;
        font-weight: 600;
    }
    .mywork-title img{
        width: 130px;
        margin-right: -20px;
    }
    .mywork-container{
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .mywork-container img{
        width: 100%;
        height: 100%;
    }
    .mywork-container img:hover{
        transform: scale(1.10);
        border: 2px solid #ff00ff;
        border-radius: 10px;
        
        height: 140px;
        transition: .3s;
    }
    .mywork-showmore{
        padding: 10px 30px;
        font-size: 17px;
        margin: 50px auto;
        cursor: pointer;
    }
}
